<div class="home__container">
    <app-card
        gameCover="assets/Ash-hero.png"
        nomeHero="ASH"
        historiaHero="Instigadora Incisiva
        Nascida na implacável Fronteira, a Dra. Ashleigh Reid, ainda humana, aprendeu cedo que a única pessoa que ia cuidar dela era ela mesma. Um dia, ela foi contratada por um grupo mercenário para um trabalho delicado: roubar uma fonte experimental de combustível sendo pesquisada na cidade das Terras Ermas, Olympus."
    ></app-card>
    <app-card
    gameCover="assets/Revenant-hero.jpg"
    nomeHero="Revenant"
    historiaHero="Pesadelo Sintético
    Revenant era humano. Ele era o melhor assassino que o Consórcio Mercenário já teve. Ele costumava olhar no espelho e ver seu rosto humano no reflexo. Mas o tempo muda tudo, ele viu o que ele tinha se tornado nas mãos do Consórcio Mercenário e da Hammond Robotics: um pesadelo ambulante."
></app-card>
    <app-card
    gameCover="assets/Bangalore-hero.jpg"
    nomeHero="Bangalore"
    historiaHero="Combatente Profissional
    Nascida em uma família militar, onde ela, seus pais e seus quatro irmãos mais velhos serviram o IMC, Bangalore foi uma soldado excepcional durante toda a sua vida. Dedicada à causa do IMC, ela era a melhor da turma na academia militar da IMC e a única cadete capaz de desmontar uma Peacekeeper."
    ></app-card>
    <app-card
    gameCover="assets/Wraith-hero.jpg"
    nomeHero="Wraith"
    historiaHero="Wraith é uma grande lutadora, capaz de executar ataques mortais e manipular o espaço-tempo abrindo fendas no tecido da realidade. Porém, essas habilidades tiveram um preço. A piloto-cientista sênior, Renee Blasey, que se voluntariou como cobaia para seus próprios experimentos..."
    ></app-card>
    <app-card
    gameCover="assets/Bloodhound-hero.jpg"
    nomeHero="Bloodhound"
    historiaHero="Rastreadore Tecnológique
    Bloodhound ganhou fama nas Terras Extremas como ume des melhores caçadores que a Fronteira já viu... e isso é tudo o que se sabe sobre esta pessoa. Filhe de dois engenheirosk, Bloodhound foi levade por seu tio Artur depois que um colapso destruiu a instalação e matou seus pais."
    ></app-card>
    <app-card
    gameCover="assets/Pathfinder-hero.jpg"
    nomeHero="Pathfinder"
    historiaHero="Explorador Avançado
    Pathfinder é a cara do otimismo, apesar das circunstâncias. Um MRVN (Medição Robótica Versátil de terreNos) com talento para reconhecimento de local e levantamento topográfico, ele foi ativado décadas atrás em um armazém abandonado sem saber quem o criou ou por quê."
    ></app-card>
    <app-card
    gameCover="assets/Lifeline-hero.jpg"
    nomeHero="Lifeline"
    historiaHero="Médica de Combate
    Ajay Che, conhecida como Lifeline, não é alguém que você esperaria encontrar nos Jogos Apex. Filha de ricos mercadores de armas, ela fugiu de casa quando descobriu os estragos que a família tinha causado e se alistou no Corpo Militar da Fronteira."
    ></app-card>
    <app-card
    gameCover="assets/Octane-hero.jpg"
    nomeHero="Octane"
    historiaHero="Acrobata de Alta Velocidade
    Certo dia, Octavio Silva estava entediado. Na verdade, ele estava entediado na maior parte dos dias. Filho do apreensivo CEO da Farmacêutica Silva e sem nada mais pra fazer na vida, ele se diverte ao realizar manobras mortais e postando holovídeos para os fãs verem."
    ></app-card>
    <app-card
    gameCover="assets/Gibraltar-hero.jpg"
    nomeHero="Gibraltar"
    historiaHero="Gibraltar é um gigante gentil com um lado selvagem. Filho de dois voluntários da SARAS (Associação de Busca e Resgate de Solace), ele sempre foi bom em tirar as outras pessoas de situações perigosas, muito comuns nas Terras Ermas."
    ></app-card>
    <app-card
    gameCover="assets/Vantage-hero.jpg"
    nomeHero="Vantage"
    historiaHero="Franco-Atiradora Nata Xiomara Mara Contreras nasceu e foi criada apenas por sua mãe sobrevivencialista, Xenia, no planeta gelado Págos. Mara mostrou ter talento com um fuzil de precisão assim que se tornou grande o bastante para olhar pela mira e alcançar o gatilho ao mesmo tempo."
    ></app-card>
    <app-card
    gameCover="assets/Ballistic-hero.jpg"
    nomeHero="Ballistic"
    historiaHero="Pistoleiro Refinado
    August foi o único herdeiro da fortuna dos Brinkman, construída graças a acordos clandestinos. Mas quando as negociações de seus pais saíram pela culatra, August acabou virando um órfão bilionário. Abastado, furioso e autodestrutivo, August entrou nos Jogos da Cúpula do Trovão."
    ></app-card>
    <app-card
    gameCover="assets/Caostic-hero.jpg"
    nomeHero="Caostic"
    historiaHero="Caçador Tóxico
    Alexander Nox era um dos cientistas mais brilhantes da Humbert Labs, o principal fabricante de gases de pesticidas da Fronteira. Nox trabalhava dia e noite desenvolvendo novas fórmulas para o excesso de pesticidas necessários para proteger as lavouras."
    ></app-card>
    <app-card
    gameCover="assets/Fuse-hero.jpg"
    nomeHero="Fuse"
    historiaHero="Especialista em Explosivos Bombásticos
    Mulherengo, homerengo e todo-tipo-engo, Fuse é uma equipe de um homem só... e ele sabe disso. Fuse é um entusiasta de explosivos alegre e descontraído, e cheio de coisas capazes de explodir."
    ></app-card>
    <app-card
    gameCover="assets/Mirage-hero.jpg"
    nomeHero="Mirage"
    historiaHero="Trapaceiro Ilusionista
    Mirage é o tipo de cara que gosta ser o centro das atenções. O caçula de quatro irmãos, ele aperfeiçoou a arte de fazer bobeira para chamar a atenção. A única coisa que ele leva à sério é a tecnologia Holo-Pilot: quando foi apresentado à tecnologia geradora de ilusões por sua mãe engenheira."
    ></app-card>
    <app-card
    gameCover="assets/Loba-hero.jpg"
    nomeHero="Loba"
    historiaHero="Ladra Translocadora
    Quando Loba tinha nove anos, ela viu Revenant, o simulacro assassino, matar sua família. Após perder tudo, Loba sobreviveu cometendo furtos. Conforme suas habilidades melhoraram, Loba usou tudo o que tinha para sair da sarjeta."
    ></app-card>
</div>



